.contact_container {
    margin-top: 100px;
    padding: 50px;
    border-radius: 10px;
   justify-content: center;
   display: flex;
   flex-direction: column;
   
    height: 80vh;
  }
  
  .form-control {
    margin-bottom: 20px;


  }
  
  .btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-primary:hover {
    background-color: #ffc107;
    border-color: #ffc107;
  }

  label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-right:10px ;
  }